<!DOCTYPE html><br><br>
<div ng-controller="BgpPolicyViewController">
<h4>BGP Policy</h4><br>

         <h5><u><b>COMMUNITY FEATURES AVAILABLE WITH THE TELSTRA
              GLOBAL INTERNET DIRECT (GID) / IP TRANSIT SERVICE</u></b></h5><br>
            <h5>The TELSTRA Global Internet Direct / IP Transit Service provides Border Gateway
              Protocol (BGP-4) community features to enable customers to maximize
              the load balancing of their traffic across multiple links connecting
              to the TELSTRA IP network. </h5>
            <h5>The BGP-4 Community Features are a complementary service to all
              TELSTRA customers with more than one GID / IP Transit service connection to the
              TELSTRA network. </h5><br>
            <h5><u><b>Setting Up Local Preference Features (relevant to traffic
              from TELSTRA to the customer)</u></b><br></h5><br>
              <h5>You can control the local preference setting TELSTRA attaches to your
              prefixes into the TELSTRA network by following the steps outlined
              below: <br><br>
              1. Tag the routes you advertise to TELSTRA with specific community
              strings. <br>
              2. The following table lists the relevant community strings and
              the corresponding local preference that TELSTRA will set in GID / IP Transit network.
              <br>
              3. Once the request has been submitted, TELSTRA will start sending
              traffic designating your particular sub-network according to the
              preference specified by you when you tagged the routes (point 1).</h5><br>
            <table width="75%" border="1" >
              <tr>
                <td style= "background-color:#337ab7;width:26%">
                  <p  ><b >Community String</b></p>
                </td>
                <td style= "background-color:#337ab7;width:74%">
                  <p ><b>Description of Corresponding Local Preference Setting</b></p>
                </td>
              </tr>
              <tr>
		                <td width="26%">
                  <p class="text">65535:65281</p>
                </td>
                <td width="65%">
                  <p class="text">NO_EXPORT (RFC 1997)</p>
                </td>
              </tr>
              <tr>
                <td width="26%" height="22">
                  <p class="text">4637:70</p>
                </td>
                <td width="65%" height="22">
                  <p class="text">Sets the local preference to 370</p>
                </td>
              </tr>
              <tr>
                <td width="26%">
                  <p class="text">4637:80</p>
                </td>
                <td width="74%">
                  <p class="text">Sets the local preference to 380</p>
                </td>
              </tr>
              <tr>
                <td width="26%">
                  <p class="text">4637:110</p>
                </td>
                <td width="74%">
                  <p class="text">Sets the local preference to 410</p>
                </td>
              </tr>
              <tr>
                <td width="26%">
                  <p class="text">4637:120</p>
                </td>
                <td width="74%">
                  <p class="text">Sets the local preference to 420</p>
                </td>
              </tr>
            </table><br>
            <h4 ><u>Notes:</u> <br></h4>
              <h5>(i) The default local preference setting used by the TELSTRA network
              for customer connections is 400. <br>
              (ii) Traffic will prefer to exit the TELSTRA network via the customer
              connection that has the higher local preference. <br>
              (iii) Adding the above community strings will only be effective
              if the customer has more than one GID / IP Transit service with TELSTRA. </h5>
            <h5>If you have any questions regarding this service or require assistance
  with setting up BGP-4 Community Features, please contact TELSTRA NGO (Next Generation Operations) on +61282898164.
              </h5>
              <br><br>
              <div class="form-actions col-md-3"
			style="display: inline-block;  float: left ;position:relative" >
			<button type="button" ng-click="BackToHomePage()"  class="btn btn-primary customMediumButton">Back To Home Page</button>

		</div>
		<br><br><br><br><br>
		<div id="loader" class="ajax-loader" ng-show=loading>
								<img src="img/ajax-loader.gif" />
							</div>
		</div>
