<!doctype html>

<br>
<br>
<h4>BGP Prefix List Change Request</h4>
<br>
<h5>This feature is available for registered BGP customer(s) only
	and Telstra shall apply a single prefix / bulk prefix list to each AS
	number.</h5>

<h5>Any changes made here will be uploaded to our routers. Please
	change with care.</h5>

<h5>An email notification on the status of the prefix update
	request will be sent within the next 2 business days.</h5>
<br>

<div ng-controller="MultiplePrefixAddController">
	<section ng-init="tab = 1">
		<ul class="nav nav-pills" style="height: 60px">
			<li ng-class="{active:tab === 1}"><a href
				ng-click="tab = 1;reset()">IPv4</a></li>
			<li ng-class="{active:tab === 2}"><a href
				ng-click="tab = 2 ;reset()">IPv6</a></li>
		</ul>

		<div class="panel" ng-show="tab === 1">
		
			<form name="MultiplePrefix" id="firsttab" role="form">

				<div class="form-group">
					<div class="form-group" style="display: block">
						<script language="JavaScript" type="text/javascript">
							$(document).ready(function() {
								$('[data-toggle="tooltip"]').tooltip();
							});
							function openIPV4Csv() {
											var Path = 'css/Example_IPV4.csv';
										  window.open(Path,'_blank');
										 }

						</script>

						<Span>Please upload .csv file containing list of prefix in
							the first column.View <a href="javascript:void(openIPV4Csv());">Example.csv</a>
						</Span><br>
						<br>

						<div>

							<label class="col-md-2"> Upload file<font color="red">*</font>
							</label>
							<!-- <input type="file" accept=".csv"  name="uploadFile" id="uploadfile" ng-click="getpath()" file-upload ng-required="true"/><br> -->
							<input type="file" id="browse" name="fileupload" accept=".csv"
								style="display: none;margin-left:10px " file-upload ng-required="true" /> <input
								type="text" class="form-control col-md-2" id="filename"
								ng-model=textinput readonly="true" /> <input
								style="position: absolute; margin-left:10px" type="button" class="btn btn-primary"
								value="browse" id="selectedFile" ng-click="HandleBrowseClick();" /><br>

						</div>

						<br>

						<div>
							<div class="col-md-2"></div>
							<span style="color: red" class="error-message"
								ng-show="MultiplePrefix.maintainedby.$dirty && MultiplePrefix.maintainedby.$invalid">Please
								enter the details in the Maintained By field.</span><br> <label
								class="col-md-2">Maintained By<font color="red">*</font>
							</label> <input class="form-control col-md-3" name="maintainedby"
								ng-model-options="{updateOn: 'blur'}" type="text"
								ng-model="user.maintainedby" ng-required="role!=='INTERNAL'" ng-readonly="role==='INTERNAL'" 
								placeholder="Enter the maintained by value"> <span
								style="color: black; width: 10; float: left; padding-left: 10px; padding-top: 5px"
								data-toggle="popover" data-placement="top"
								title="(The identifier of a registered maintainer object used for authorization and authentication.<br>
                                             It should refer to maintainer label, registered in RADB/NIC.)"
								class="glyphicon glyphicon-question-sign"></span><br>

						</div>
						<br>

						<div>
							<div class="col-md-2"></div>
							<span style="color: red" class="error-message"
								ng-show="MultiplePrefix.origin.$dirty && MultiplePrefix.origin.$invalid">Invalid
								Origin. Please enter in the format Ex:AS1234</span><br> <label
								class="col-md-2">Origin<font color="red">*</font>
							</label> <input class="form-control col-md-3 " name="origin"
								ng-model-options="{updateOn: 'blur'}" type="text" ng-readonly="role==='INTERNAL'"
								ng-model="user.origin" placeholder="Enter the AS number"
								ng-required="role!=='INTERNAL'" as-number> <span
								style="color: black; width: 10; float: left; padding-left: 10px; padding-top: 5px"
								data-toggle="popover" data-placement="top"
								title="AS number to which the prefix belongs (Ex:AS1234)"
								class="glyphicon glyphicon-question-sign"></span><br>



						</div>
						<br>

						<div>
							<div class="col-md-2"></div>
							<span style="color: red" class="error-message"
								ng-show="MultiplePrefix.emailid.$dirty && MultiplePrefix.emailid.$invalid">Invalid
								Email ID.Multiple email addresses separated by semi-colon(;) can
								be entered.</span><br> <label class="col-md-2">Email Id<font
								color="red">*</font>
							</label> <input class="form-control col-md-3" name="emailid"
								placeholder="Enter your email id"
								ng-model-options="{updateOn: 'blur'}" type="text"
								ng-model="user.emailid" ng-required="role!=='INTERNAL'" ng-readonly="role==='INTERNAL'" multiple-emails>

							<span
								style="color: black; width: 10; float: left; padding-left: 10px; padding-top: 5px"
								data-toggle="popover" data-placement="top"
								title="Multiple email addresses separated by semi-colon(;) can be entered. 
                                             (e.g. user1@testmail.com;user2@testmail.com)"
								" class="glyphicon glyphicon-question-sign"></span><br>

						</div>
						<br> <br> <span>I warrant that all information
							provided by me on this website is correct and I agree to
							indemnify Telstra and its subcontractors for any loss or damage
							which might incur as a result of the information provided by me
							on this website. I acknowledge that Telstra reserves the right to
							block or filter out any inappropriate network announcements from
							its customers.</span><br>
						<br>
						<div>

							<font color="red">*</font><input type="checkbox" ng-readonly="role==='INTERNAL'"
								ng-model="user.accept" ng-required="role!=='INTERNAL'"><b> Accept</b>
						</div>
						<br>
						<h5>
							(<font color="red">*</font>indicates mandatory fields)
						</h5>
						<div id="loader" class="ajax-loader" ng-show=loading>
							<img src="img/ajax-loader.gif" />
						</div>
						<div
							style="display: block; width: 100%; float: right; color: transparent">a</div>
						<br>
						<div>
							<div class="form-actions col-md-2"
								style="display: inline-block; float: left">
								<button type="button" ng-click="submitipv4()"
									ng-disabled="((role==='INTERNAL' && MultiplePrefix.fileupload.$invalid)|| (role==='EXTERNAL' && MultiplePrefix.$invalid))"
									class="btn btn-primary customSmallButton">Submit</button>

							</div>

							<div class="form-actions col-md-2"
								style="display: inline-block; float: left">
								<button type="reset" ng-click="clear()"
									class="btn btn-primary customSmallButton">Clear</button>

							</div>
							<div class="form-actions col-md-2"
								style="display: inline-block; s float: left">
								<button type="button" ng-click="openbgpPolicy()"
									class="btn btn-primary customSmallButton">BGP Policy</button>

							</div>
						</div>
						<div
							style="display: block; width: 100%; float: right; color: transparent">a</div>
						<br>

					</div>
				</div>
				<!-- class for form grpo -->
			</form>
		</div>

		<div class="panel" ng-show="tab === 2">
			<form name="MultiplePrefixIpv6" id="firsttab2" role="form">

				<div class="form-group">
					<div style="display: block">
						<script language="JavaScript" type="text/javascript">
							$(document).ready(function() {
								$('[data-toggle="tooltip"]').tooltip();
							});
							function openIPV6Csv() {
											var Path = 'css/Example_IPV6.csv';
										  window.open(Path,'_blank');
										 }
						</script>

						<Span>Please upload .csv file containing list of prefix in
							the first column.View <a href="javascript:void(openIPV6Csv());">Example.csv</a>
						</Span><br>
						<br>

						
						<div>

							<label class="col-md-2"> Upload file<font color="red">*</font>
							</label>
							<!-- <input type="file" accept=".csv"  name="uploadFile" id="uploadfile" ng-click="getpath()" file-upload ng-required="true"/><br> -->
							<input type="file" id="browse" name="fileupload"
								accept=".csv" style="display: none" file-upload
								ng-required="true" /> <input type="text"
								class="form-control col-md-2" id="filename"
								ng-model=textinput readonly="true" /> <input
								style="position: absolute; margin-left:10px" type="button" class="btn btn-primary"
								value="browse" id="selectedFileipv6"
								ng-click="HandleBrowseClick();" /><br>




						</div>

						<br>
						<div>
							<div class="col-md-2"></div>
							<span style="color: red" class="error-message"
								ng-show="MultiplePrefixIpv6.maintainedby.$dirty && MultiplePrefixIpv6.maintainedby.$invalid">Please
								enter the details in the Maintained By field.</span><br> <label
								class="col-md-2">Maintained By<font color="red">*</font>
							</label> <input class="form-control col-md-3" name="maintainedby"
								ng-model-options="{updateOn: 'blur'}" type="text"
								placeholder="Enter the maintained by value"
								ng-model="user.maintainedby" ng-readonly="role==='INTERNAL'" ng-required="role!=='INTERNAL'"> <span
								style="color: black; width: 10; float: left; padding-left: 10px; padding-top: 5px"
								data-toggle="popover" data-placement="top"
								title="(The identifier of a registered maintainer object used for authorization and authentication.<br>
                                             It should refer to maintainer label, registered in RADB/NIC.)"
								class="glyphicon glyphicon-question-sign"></span><br>





						</div>
						<br>

						<div>
							<div class="col-md-2"></div>
							<span style="color: red" class="error-message"
								ng-show="MultiplePrefixIpv6.origin.$dirty && MultiplePrefixIpv6.origin.$invalid">Invalid
								Origin. Please enter in the format Ex:AS1234</span><br> <label
								class="col-md-2">Origin<font color="red">*</font>
							</label> <input class="form-control col-md-3 " name="origin"
								placeholder="Enter the AS number"
								ng-model-options="{updateOn: 'blur'}" type="text"
								ng-model="user.origin" ng-readonly="role==='INTERNAL'" as-number ng-required="role!=='INTERNAL'"> <span
								style="color: black; width: 10; float: left; padding-left: 10px; padding-top: 5px"
								data-toggle="popover" data-placement="top"
								title="AS number to which the prefix belongs (Ex:AS1234)"
								class="glyphicon glyphicon-question-sign"></span><br>



						</div>
						<br>

						<div>
							<div class="col-md-2"></div>
							<span style="color: red" class="error-message"
								ng-show="MultiplePrefixIpv6.emailid.$dirty && MultiplePrefixIpv6.emailid.$invalid">Invalid
								Email ID.Multiple email addresses separated by semi-colon(;) can
								be entered.</span><br> <label class="col-md-2">Email Id<font
								color="red">*</font>
							</label> <input class="form-control col-md-3" name="user.emailidIpv6"
								placeholder="Enter your email id"
								ng-model-options="{updateOn: 'blur'}" type="text"
								ng-model="user.emailid" ng-readonly="role==='INTERNAL'" ng-required="role!=='INTERNAL'" multiple-emails>

							<span
								style="color: black; width: 10; float: left; padding-left: 10px; padding-top: 5px"
								data-toggle="popover" data-placement="top"
								title="Multiple email addresses separated by semi-colon(;) can be entered. 
                                             (e.g. user1@testmail.com;user2@testmail.com)"
								" class="glyphicon glyphicon-question-sign"></span><br>

						</div>
						<br> <br> <span>I warrant that all information
							provided by me on this website is correct and I agree to
							indemnify Telstra and its subcontractors for any loss or damage
							which might incur as a result of the information provided by me
							on this website. I acknowledge that Telstra reserves the right to
							block or filter out any inappropriate network announcements from
							its customers.</span><br>
						<br>
						<div>

							<font color="red">*</font><input type="checkbox"
								ng-model="user.acceptIpv6" ng-readonly="role==='INTERNAL'" ng-required="role!=='INTERNAL'"><b>
								Accept</b>
						</div>
						<div id="loader" class="ajax-loader" ng-show=loading>
							<img src="img/ajax-loader.gif" />
						</div>
						<br>
						<h5>
							(<font color="red">*</font>indicates mandatory fields)
						</h5>

						<div
							style="display: block; width: 100%; float: right; color: transparent">a</div>
						<br>
						<div>
							<div class="form-actions col-md-2"
								style="display: inline-block; float: left">
								<button type="button" ng-click="submitipv6()"
									ng-disabled="((role==='INTERNAL' && MultiplePrefixIpv6.fileupload.$invalid)|| (role==='EXTERNAL' && MultiplePrefixIpv6.$invalid))" 
									class="btn btn-primary customSmallButton">Submit</button>

							</div>

							<div class="form-actions col-md-2"
								style="display: inline-block; float: left">
								<button type="reset" ng-click="clear()"
									class="btn btn-primary col-md-3 customSmallButton">Clear</button>


							</div>
							<div class="form-actions col-md-2"
								style="display: inline-block; s float: left">
								<button type="button" ng-click="openbgpPolicy()"
									class="btn btn-primary customSmallButton">BGP Policy</button>

							</div>
						</div>
						<div
							style="display: block; width: 100%; float: right; color: transparent">a</div>
						<br>

					</div>
				</div>
				<!-- class for form grpo -->
			</form>
		</div>
	</section>

</div>