<html>
<br>
<br>
<h4><b>Edit Router Information</b></h4>
<form name="myForm" novalidate method="POST">
	<div ng-controller="RouterInformationEditController">


		<br>



		<!-- <div class="form-group" style="display: block"> -->
		<div>


			<div class="col-md-3"></div>
			<span style="color: red" class="error-message"
				ng-show="myForm.emailId.$dirty && myForm.emailId.$invalid">ERROR
				in email contact format. </span> <br> <label class="col-md-3">
				Service Id</label> <input name="telstraServiceId" ng-model-options="{updateOn: 'blur'}"
				class="form-control col-md-3" type="text" ng-model="user.telstraServiceId"
				ng-required="true" readonly=true> <br>
		</div>
		<!-- <div class="col-md-3 "></div> -->
		<br> <br>
		<div>
			<!-- <div class="col-md-3">	
			</div> -->
			<!-- <span style="color: red" class="error-message"
				ng-show="myForm.host.$dirty && myForm.host.$invalid">Error in Host</span><br> -->
			<label class="col-md-3"> Router Name </label> <input
				name="routername" class="form-control col-md-3" type="text"
				ng-model="user.router" ng-model-options="{updateOn: 'blur'}"
				readonly=true required /> <br>

		</div>
		<br> <br>
		<div>
			<!-- <div class="col-md-3">	
			</div> -->
			<!-- <span style="color: red" class="error-message"
				ng-show="myForm.host.$dirty && myForm.host.$invalid">Error in Host</span><br> -->
			<label class="col-md-3"> Interface Name </label> <input
				name="interfacename" class="form-control col-md-3" type="text"
				ng-model="user.routerInterface" ng-model-options="{updateOn: 'blur'}"
				readonly=true required /> <br>

		</div>
		<br>
		<div>
			<!-- <div class="col-md-3">	
			</div> -->
			<!-- <span style="color: red" class="error-message"
				ng-show="myForm.host.$dirty && myForm.host.$invalid">Error in Host</span><br> -->
			<div class="col-md-3"></div>
			<span style="color: red" class="error-message"
				ng-show="myForm.routerSoftwareVersion.$dirty && myForm.routerSoftwareVersion.$invalid ">Please
				select the Router Software Version</span><br> <label class="col-md-3">
				Router Software Version<span style="color: red">*</span>
			</label> <select name="routerSoftwareVersion" class="form-control col-md-3"
				ng-model="user.routerSoftware" ng-required="true" id="type">
				<option value="">Select the router software version</option>
				<option value="Cisco IOS">Cisco IOS</option>
				<option value="Cisco XR">Cisco XR</option>
			</select> <span
				style="color: black; width: 10; float: left; padding-left: 10px; padding-top: 5px"
				data-toggle="popover" data-placement="top"
				title="Select the appropriate router software version"
				class="glyphicon glyphicon-question-sign"></span><br>
		</div>
		
		<div class="col-md-3"></div>
		<span style="color: red" class="error-message"
			ng-show="myForm.productType.$dirty && myForm.productType.$invalid ">Please
			select the Product Type</span><br>
		<div>
			<div class="col-md-3"></div>
			<br> <label class="col-md-3"> Product Type </label> <input
				name="productType" class="form-control col-md-3" type="text"
				ng-model="user.productLine" ng-model-options="{updateOn: 'blur'}"
				readonly=true required />
			
			<!--<label class="col-md-3"> Product Type<span style="color: red">*</span></label> <select
				name="productType" class="form-control col-md-3"
				ng-model="user.productLine" ng-required="true" id="type">
				<option value="">Select the product type</option>
				<option value="IP Transit">IP Transit</option>
				<option value="GID">GID</option>
				<option value="CNAME">CNAME</option>
				<option value="MX">MX</option>
				<option value="NS">NS</option>
				<option value="TXT">TXT</option>
			</select>--><br>
		</div>
		<br> <br>
		<div>
			<!-- <div class="col-md-3">	
			</div>
			<span style="color: red" class="error-message"
				ng-show="myForm.host.$dirty && myForm.host.$invalid">Error in Host</span><br> -->
			<label class="col-md-3"> AS Number </label> <input name="asnumber"
				class="form-control col-md-3" type="text" ng-model="user.asNumber"
				ng-model-options="{updateOn: 'blur'}" readonly=true required />
			<br>

		</div>
		<br>
		<div>
			<!--<div class="col-md-3"></div>
			<span style="color: red" class="error-message"
				ng-show="myForm.host.$dirty && myForm.host.$invalid">Error in
				Host</span><br> -->
			<div class="col-md-3"></div>
			<span style="color: red" class="error-message"
				ng-show="(myForm.bgpNeighbour.$dirty && myForm.bgpNeighbour.$invalid)|| (myForm.bgpNeighbour.$error.ipVfour) ">Please
				enter the BGP Neighbour IP</span><br> <label class="col-md-3">
				BGP Neighbour IP<span style="color: red">*</span>
			</label> <input name="bgpNeighbour" class="form-control col-md-3" type="text"
				ng-model="user.bgpNeighborIp" ng-required="true"
				ng-model-options="{updateOn: 'blur'}" ip-vfour required /> <span
				style="color: black; width: 10; float: left; padding-left: 10px; padding-top: 5px"
				data-toggle="popover" data-placement="top" title="BGP Neighbour IP"
				class="glyphicon glyphicon-question-sign"></span><br>

		</div>
		<br><div>

			<div class="col-md-3"></div>
			<span style="color: red" class="error-message"
				ng-show="myForm.bgpNeighbourIPv6.$error.ipVsix">Please
				enter valid ipaddress</span> <br> <label class="col-md-3">
				BGP Neighbour IPv6
			</label> <input class="form-control col-md-3" name="bgpNeighbourIPv6"
				type="text" ng-model="user.bgpNeighborIpV6"
				ng-model-options="{updateOn: 'blur'}"  ip-vsix
				required /> <span
				style="color: black; width: 10; float: left; padding-left: 10px; padding-top: 5px"
				data-toggle="popover" data-placement="top"
				title="bgpNeighbourIPv6"
				class="glyphicon glyphicon-question-sign"></span><br>
		</div><br>
		<!-- 
		  <div>
			<div class="col-md-3">	
			</div>
			<span style="color: red" class="error-message"
				ng-show="myForm.host.$dirty && myForm.host.$invalid">Error in Host</span><br>
				<label class="col-md-3"> Auto-generate Prefix List 
				</label> <input name="prefixList" class="form-control" type="text"
					ng-model="user.prefixList" ng-model-options="{updateOn: 'blur'}"   required/>
					
			</div> -->


		<div>
			<!--	<div class="col-md-3"></div>
			<span style="color: red" class="error-message"
				ng-show="myForm.host.$dirty && myForm.host.$invalid">Error in
				Host</span><br>-->
			<div class="col-md-3"></div>
			<br> <label class="col-md-3"> IRRD Object </label> <input
				name="irrdObject" class="form-control col-md-3" type="text"
				ng-model="user.irrdObject" ng-model-options="{updateOn: 'blur'}" />
			<span
				style="color: black; width: 10; float: left; padding-left: 10px; padding-top: 5px"
				data-toggle="popover" data-placement="top"
				title="IRRD Object (Ex:AS-ABC)"
				class="glyphicon glyphicon-question-sign"></span><br>

		</div>
		<br> <br>
		<div>
			<label class="col-md-3"> Black Hole Router</label> 
			<input
				name="blackHoleRouter" class="form-control col-md-3" type="text"
				ng-model="user.blackHoleRouter" ng-model-options="{updateOn: 'blur'}" readonly=true required /> <br>
			<!-- <option value="" disabled selected >Yes</option>
					<option value="Yes">Yes</option>
					<option value="No">No</option>
					
				</select> -->
		</div>
		<br>
		<div>

			<div class="col-md-3"></div>
			<span style="color: red" class="error-message"
				ng-show="myForm.BlackholeNeighbourIP.$error.ipVfour">Please
				enter valid ipaddress</span> <br> <label class="col-md-3">
				Blackhole BGP Neighbour IP
			</label> <input class="form-control col-md-3" name="BlackholeNeighbourIP"
				type="text" ng-model="user.bhaBgpNeighborIp"
				ng-model-options="{updateOn: 'blur'}" ip-vfour
				 /> <span
				style="color: black; width: 10; float: left; padding-left: 10px; padding-top: 5px"
				data-toggle="popover" data-placement="top"
				title="Blackhole BGP Neighbour IP"
				class="glyphicon glyphicon-question-sign"></span><br>
		</div>
<br>
		<div>

			<div class="col-md-3"></div>
			<span style="color: red" class="error-message"
				ng-show="myForm.BlackholeNeighbourIPv6.$error.ipVsix">Please
				enter valid ipaddress</span> <br> <label class="col-md-3">
				Blackhole BGP Neighbour IPv6
			</label> <input class="form-control col-md-3" name="BlackholeNeighbourIPv6"
				type="text" ng-model="user.bhaBgpNeighborIpV6"
				ng-model-options="{updateOn: 'blur'}"  ip-vsix
				 /> <span
				style="color: black; width: 10; float: left; padding-left: 10px; padding-top: 5px"
				data-toggle="popover" data-placement="top"
				title="Blackhole BGP Neighbour IPv6"
				class="glyphicon glyphicon-question-sign"></span><br>
		</div>

		<div
			style="display: block; width: 100%; float: right; color: transparent">a</div>
		<br>

		<div class="form-actions"
			style="display: inline-block; float: left; position: relative">
			<button type="button"
				ng-click="updateRouterInfoRecords()"  ng-disabled="myForm.$invalid" class="btn btn-primary customSmallButton">Add</button>

		</div>


		<div class="form-actions"
			style="display: inline-block; width: 80%; float: right; position: relative">
			<button type="submit" ng-click="cancel()"
				class="btn btn-primary customSmallButton">Cancel</button>

		</div>
		<div
			style="display: block; width: 100%; float: right; color: transparent">a</div>
		<div
			style="display: block; width: 100%; float: right; color: transparent">a</div>
		<br>

	</div>
</form>




</html>