<!DOCTYPE html>


<br>
<div ng-controller="RouterInformationViewController" ng-init="services()">
	<br>


		<br>
		<div class="panel">

			<form name="myForm">

				<div ng-show="table">


					<table>

						<tr style="font-weight: bold">
						<tr style="font-weight: bold">
							<th>Service Id</th>
							<th>Router</th>
							<th>Interface Name</th>
							<th>Router Version</th>
							<th>Product Type</th>
							<th>AS Number</th>
							<th>BGP Neighbour IP</th>
							<th>BGP Neighbour IPv6</th>
							<th>IRRd Object</th>
							<th>Black Hole Router</th>
							<th>Black Hole BGP Neighbour IP</th>							
							<th>Black Hole BGP Neighbour IPv6</th>
							<th></th>
						</tr>

						</div>
					<tr ng-repeat="routerInformation in routerInformations">

		<td>{{routerInformation.telstraServiceId}}
		</td>
		<td>{{routerInformation.router}}
		</td>
		<td>{{routerInformation.routerInterface}}
		</td>
		<td>{{routerInformation.routerSoftware}}
		</td>
		<td>{{routerInformation.productLine}}
		</td>
		<td>{{routerInformation.asNumber}}
		</td>
		<td>{{routerInformation.bgpNeighborIp}}
		</td>
		<td>{{routerInformation.bgpNeighborIpV6}}
		</td>
		<td>{{routerInformation.irrdObject}}
		</td>
		<td>{{routerInformation.blackHoleRouter}}
		</td>
		<td>{{routerInformation.bhaBgpNeighborIp}}
		</td>		
		<td>{{routerInformation.bhaBgpNeighborIpV6}}
		</td>
							<td><a ng-click="sendValue(routerInformation)"
								ng-href="#RM_RouterInformationEdit">Edit </td>
						</tr>
					</table>
				</div>


			</form>
		</div>


	
</div>



