<!doctype html>
<form name="myForm"   method="GET">
<div ng-controller="RoutePrefixController" ng-init="viewdetails()">
	<div >
		<title>View Network Prefix</title> <br>
		
      <h4>
		<b>Network Prefixes in our Record</b>
	</h4><br>
	<div><h4 ng-show="AS">Routing Table for {{AS}}</h4></div>
	<br>

 </div>
<div ng-show="error"><h5>{{error}}</h5>

</div>
<div ng-show="table">

<table class="table">
	
	<tr style="font-weight: bold">
	<th><input type="checkbox" ng-model=viewrecord.Selectall ng-click="checkAll($event)" />
		</th>
		<th>Network Prefix
		</th>
		<th>Action
		</th>
		<th>Time Entered
		</th>
		<th>Time Completed
		</th>
		<th>Status
		</th>
		
		
		
	</tr>
	
	<!-- //ng-repeat="userdetails in userInformation" -->
	</tr>
	<tr ng-repeat="viewrecord in viewRecords">
		<td><input type="checkbox" ng-model=viewrecord.Selected type="hidden"  ng-click="addToList($event,viewrecord.trackno)" >
         </td>
		<td>{{viewrecord.prefix}}
		</td>
		<td>{{viewrecord.action}}
		</td>
		<td>{{viewrecord.timeEntered}}
		</td>
		<td>{{viewrecord.timeCompleted}}
		</td>
		<td>{{viewrecord.status}}
		</td>
		
	
	</tr>
</table>
</div>
<br><br>
<div class="form-actions col-md-2"
						style="display: inline-block;  float: left">
						<button type="button" ng-show="checked>0" ng-click="sendToBackendForDeletion()" 
							class="btn btn-primary customSmallButton">Delete</button>
					</div>
				<div class="form-actions col-md-2"
						style="display: inline-block; float: left">
						<button type="reset" ng-show="checked>0" ng-click="clearAll()"
							class="btn btn-primary customSmallButton">Clear</button>
					</div>
						<div style="color:red"; ng-show=message>{{message}}</div>
					
<!-- result+{{$scope.arrayToDelete}} -->
<br><br><br>
							 <div id="loader" class="ajax-loader" ng-show=loading>
    <img 
         
         src="img/ajax-loader.gif" />
  </div> 

</div> 
</form>
</html>