<html >
<div ng-controller="ServiceListController" ng-init="loadServiceList()">
	<title>Manage your Routing</title><br><br>
	<h4>
		BGP Prefix List Change Request</h4><br>
	
	
		
		<h5>This feature is available for registered BGP customer(s) only
			and Telstra shall apply a single prefix / bulk prefix list to each AS
			number.</h5>
		
		<h5>Any changes made here will be uploaded to our routers. Please
			change with care.</h5>
		
		<h5>An email notification on the status of the prefix update
			request will be sent within the next 2 business days.</h5>
		
		<h4><br>
			Select a service:
		</h4>
		<br>
		<div ng-repeat = "vals in ServVal track by $index"  ng-click="sendValue(vals)">
		<a ng-href ="#RM_MultiplePrefixAdd"> {{vals.asNumber}}
		<div ng-repeat = "sers in (vals.telstraServiceId) track by $index">{{sers}}</div>	
		</a>
		</br>
		
		</div>
	
		<br>

	</h2>
</div>
</html>
