<html >
<div ng-controller="ServiceListController"  ng-init="loadServiceList()">
		<title>View Network Prefix</title> <br>
		
      <h4>
		<b>Network Prefixes in our Record</b>
	</h4><br>

		<h4><br>
			Select a service:
		</h4>
		<br>
		<div ng-repeat = "vals in ServVal track by $index" ng-click="sendValue(vals)" >
		<a ng-href ="#RM_RoutePrefixView"> {{vals.asNumber}}
		<div ng-repeat = "sers in (vals.telstraServiceId) track by $index" >{{sers}}</div>	
		</a>
		</br>
		
		</div>
	
		<br>

	</h2>
</div>
</html>
