<!doctype html>

 <br><br>
 <h4>
		BGP Prefix List Change Request
	</h4><br>
	<h5>This feature is available for registered BGP customer(s) only and Telstra shall apply a single prefix / bulk prefix list to each AS number.</h5>

	<h5>Any changes made here will be uploaded to our routers. Please change with care.</h5>

	<h5>An email notification on the status of the prefix update request will be sent within the next 2 business days.</h4>
	<br>
	 
<div ng-controller="SinglePrefixAddController">
<section ng-init="tab = 1">
<ul class="nav nav-pills" style="height:60px">
  <li ng-class="{active:tab === 1}"><a href ng-click="tab = 1 ;reset()">IPv4</a></li>
  <li ng-class="{active:tab === 2}"><a href ng-click="tab = 2 ;reset()">IPv6</a></li>
</ul>

<div class="panel" ng-show="tab === 1">
<form name="SinglePrefix" role="form">
    <div class="form-group">
 <div class="form-group" style="display: block">
	 	
 <script language="JavaScript" type="text/javascript">
  
   $(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip(); 
	}); 
	/* $(document).ready(function(){
	    $('[data-toggle="popover"]').popover({
	        placement : 'right',
	        trigger : 'click'
	    });
	}); */

</script>
		
			
			     <div>
                     <div class="col-md-2">     </div>
                     <span style="color:red" class="error-message" ng-if="SinglePrefix.networkprefix.$dirty && SinglePrefix.networkprefix.$error.ipadressvalidity">Please enter valid
                                                IP Address.</span> 
                     <span style="color:red" class="error-message" ng-if="SinglePrefix.networkprefix.$dirty && SinglePrefix.networkprefix.$error.prefixvalidation">Please enter valid
                                                prefix between 8 and 24.</span> 
                   <!--   <span style="color:red" class="error-message" ng-if="SinglePrefix.networkprefix.$dirty && SinglePrefix.networkprefix.$error.octectvalidation">Please enter valid
                                                4th Octet.</span>-->
                     <span style="color:red" class="error-message" ng-if="SinglePrefix.networkprefix.$dirty && SinglePrefix.networkprefix.$error.noPrefix">Please enter a Prefix.</span>
                     <br>
                     <label class="col-md-2">Network Prefix<font color="red">*</font>
				</label>
                           <!-- Span align="left"><b>Your IP address block</b><br>(Enter in CIDR format Eg: 134.111.22.0/25)</br></span> -->
                    <input class="form-control col-md-3" name="networkprefix"
		ng-model-options="{updateOn: 'blur'}" type="text"
		ng-model="user.networkprefix" ip-blockroute required placeholder="Enter the IPv4 address"> <span style="color:black; width:10 ;float:left ; padding-left:10px; padding-top:5px"  data-toggle="popover" data-placement="top" title="(eg 202.84.10.0/24)"   class="glyphicon glyphicon-question-sign"></span><br>
         </div>
   
			<br>
				<div>
				<div class="col-md-2"></div>
				 	<span style="color:red" class="error-message" ng-show="SinglePrefix.maintainedby.$dirty && SinglePrefix.maintainedby.$invalid ">Please enter the details in the Maintained By field.</span><br>
				
				<label class="col-md-2">Maintained By<font color="red">*</font>
				</label> <input class="form-control col-md-3 " name="maintainedby" 
				 ng-model-options="{updateOn: 'blur'}" type="text"
					ng-model="user.maintainedby" ng-required="role!=='INTERNAL'" ng-readonly="role==='INTERNAL'" placeholder="Enter the maintained by value">
					<span style="color:black; width:10 ;float:left ; padding-left:10px; padding-top:5px"    data-toggle="popover" data-placement="top" title="(The identifier of a registered maintainer object used for authorization and authentication.
                                             It should refer to maintainer label, registered in RADB/NIC.)" class="glyphicon glyphicon-question-sign"></span><br>
					 					
                                         
					
           
			</div>
			<br>
			
		<div>
		<div class="col-md-2"></div>
				 	<span style="color:red" class="error-message" ng-show="SinglePrefix.origin.$dirty && SinglePrefix.origin.$invalid">Invalid Origin. Please enter in the format Ex:AS1234</span><br>
				<label class="col-md-2">Origin<font color="red">*</font>
				</label> <input class="form-control col-md-3" name="origin" data-toggle="popover" data-placement="right" title="AS number to which the prefix belongs (Ex:AS1234)" ng-model-options="{updateOn: 'blur'}"  type="text"
				 	ng-model="user.origin" ng-required="role!=='INTERNAL'" ng-readonly="role==='INTERNAL'" as-number placeholder="Enter the AS number">
				 	<span style="color:black; width:10 ;float:left ; padding-left:10px; padding-top:5px"    data-toggle="popover" data-placement="top" title="AS number to which the prefix belongs (Ex:AS1234)" class="glyphicon glyphicon-question-sign"></span><br>
				
		</div>
			
	<br>
			
			<div>
			<div class="col-md-2"></div>
				 	<span style="color:red" class="error-message" ng-show="SinglePrefix.emailid.$dirty && SinglePrefix.emailid.$invalid">Invalid Email ID.Multiple email addresses separated by semi-colon(;) can be entered.</span><br>
				<label class="col-md-2">Email Id<font color="red">*</font>
				</label> <input class="form-control col-md-3 " name="emailid"  ng-model-options="{updateOn: 'blur'}"  type="text" data-toggle="popover" data-placement="right" title="Multiple email addresses separated by semi-colon(;) can be entered. 
                                             (e.g. user1@testmail.com;user2@testmail.com)"
					ng-model="user.emailid" ng-required="role!=='INTERNAL'" ng-readonly="role==='INTERNAL'" multiple-emails placeholder="Enter your email id">
					<span style="color:black; width:10 ;float:left ; padding-left:10px; padding-top:5px"    data-toggle="popover" data-placement="top" title="Multiple email addresses separated by semi-colon(;) can be entered. 
                                             (e.g. user1@testmail.com;user2@testmail.com)" class="glyphicon glyphicon-question-sign"></span><br>
					<!-- <span style=" position: absolute;font-size:13.5px">&nbsp;Multiple email addresses separated by semi-colon(;) can be entered. 
                                             (e.g. user1@testmail.com;user2@testmail.com)</span><br><br> -->
					
           
			</div>
			<br><br>
			<span>I warrant that all information provided by me on this website is correct and I agree to indemnify Telstra and its subcontractors for any loss or damage which might incur as a result of the information provided by me on this website. I acknowledge that Telstra reserves the right to block or filter out any inappropriate network announcements from its customers.</span><br><br>
	 	<div>
	 	
				<font color="red">*</font><input  type="checkbox"
					ng-model="user.accept" 
					ng-required="role!=='INTERNAL'" ng-readonly="role==='INTERNAL'" ><b> Accept</b> 
	 	</div>
	 	<div id="loader" class="ajax-loader" ng-show=loading>
  			  <img src="img/ajax-loader.gif" />
  			</div> 
	 	<br>
	 	<h5>(<font color="red">*</font>indicates mandatory fields)</h5>
	 	
	 	<br>
		<br>
<div>
		<div class="form-actions col-md-2" style="display: inline-block; float: left">
			<button type="button" ng-disabled="((role==='INTERNAL' && SinglePrefix.networkprefix.$invalid)|| (role==='EXTERNAL' && SinglePrefix.$invalid))" ng-click="submitipv4()" class="btn btn-primary customSmallButton">Submit</button>

		</div>

		<div class="form-actions col-md-2"
			style="display: inline-block; float: left;">
			<button type="reset"  ng-click="clear()"  class="btn btn-primary customSmallButton">Clear</button>

		</div>
		<div class="form-actions col-md-2"
			style="display: inline-block;  float: left">
			<button type="button"  ng-click="openbgpPolicy()"  class="btn btn-primary customSmallButton">BGP Policy</button>

		</div>
	</div>	
		<br>
		<br>
		
	</div>
    </div><!-- vlass="form group -->
  </form>
 </div> 
  
<div class="panel" ng-show="tab === 2">
<form name="SinglePrefixIpv6" role="form">
    <div class="form-group">
 <div class="form-group" style="display: block">
	 	
 <script language="JavaScript" type="text/javascript">
  
   $(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip(); 
	}); 

</script>

			  <div>
                     <div class="col-md-2"></div> 
                     <span style="color:red" class="error-message" ng-if="SinglePrefixIpv6.networkprefixIpv6.$dirty && SinglePrefixIpv6.networkprefixIpv6.$error.ipadressvalidity">Please enter valid
                                                IP Address.</span> 
                   <span style="color:red" class="error-message" ng-if="SinglePrefixIpv6.networkprefixIpv6.$dirty  &&  SinglePrefixIpv6.networkprefixIpv6.$error.invalidPrefix">Please enter valid
                                                prefix between 48 and 64.</span> 
                     <span style="color:red" class="error-message" ng-if="SinglePrefixIpv6.networkprefixIpv6.$dirty && SinglePrefixIpv6.networkprefixIpv6.$error.noPrefix">Please enter a Prefix.</span>
                     <br>
                     <label class="col-md-2">Network Prefix<font color="red">*</font>
				</label>
                     <input class="form-control col-md-2" name="networkprefixIpv6" type="text"
                           ng-model="user.networkprefix" ng-model-options="{updateOn: 'blur'}" style="text-transform: uppercase" ip-blockipv6 required placeholder="Enter the IPv6 address"/>
<span style="color:black; width:10 ;float:left ; padding-left:10px; padding-top:5px"    data-toggle="popover" data-placement="top" title="Multiple email addresses separated by semi-colon(;) can be entered. 
                                             (e.g. user1@testmail.com;user2@testmail.com)" class="glyphicon glyphicon-question-sign"></span><br>
             <!-- <div class="col-md-3">      
             <span class="small">(Enter in CIDR format Eg: 134.111.22.0/25)</span>
                     </div> -->
          
              </div>
		<br>
				<div>
				<div class="col-md-2"></div>
				 	<span style="color:red" class="error-message" ng-show="SinglePrefixIpv6.maintainedby.$dirty && SinglePrefixIpv6.maintainedby.$invalid ">Please enter the details in the Maintained By field.</span><br>
				
				<label class="col-md-2">Maintained By<font color="red">*</font>
				</label> <input class="form-control col-md-3 " name="maintainedby" 
				 ng-model-options="{updateOn: 'blur'}" type="text"
					ng-model="user.maintainedby" ng-readonly="role==='INTERNAL'"  ng-required="role!=='INTERNAL'" placeholder="Enter the maintained by value">
					<span style="color:black; width:10 ;float:left ; padding-left:10px; padding-top:5px"    data-toggle="popover" data-placement="top" title="(The identifier of a registered maintainer object used for authorization and authentication.<br>
                                             It should refer to maintainer label, registered in RADB/NIC.)" class="glyphicon glyphicon-question-sign"></span><br>
					 					
                                         
					
           
			</div>
			<br>
			
		<div>
		<div class="col-md-2"></div>
				 	<span style="color:red" class="error-message" ng-show="SinglePrefixIpv6.origin.$dirty && SinglePrefixIpv6.origin.$invalid">Invalid Origin. Please enter in the format Ex:AS1234</span><br>
				<label class="col-md-2">Origin<font color="red">*</font>
				</label> <input class="form-control col-md-3" name="origin" data-toggle="popover" data-placement="right" title="AS number to which the prefix belongs (Ex:AS1234)" ng-model-options="{updateOn: 'blur'}"  type="text"
				 	ng-model="user.origin" ng-required="role!='INTERNAL'" ng-readonly="role==='INTERNAL'" as-number placeholder="Enter the AS number">
				 	<span style="color:black; width:10 ;float:left ; padding-left:10px; padding-top:5px"    data-toggle="popover" data-placement="top" title="AS number to which the prefix belongs (Ex:AS1234)" class="glyphicon glyphicon-question-sign"></span><br>
				
		</div>
			
	<br>
			
			<div>
			<div class="col-md-2"></div>
				 	<span style="color:red" class="error-message" ng-show="SinglePrefixIpv6.emailid.$dirty && SinglePrefixIpv6.emailid.$invalid">Invalid Email ID.Multiple email addresses separated by semi-colon(;) can be entered.</span><br>
				<label class="col-md-2">Email Id<font color="red">*</font>
				</label> <input class="form-control col-md-3 " name="emailid"  ng-model-options="{updateOn: 'blur'}"  type="text" data-toggle="popover" data-placement="right" title="Multiple email addresses separated by semi-colon(;) can be entered. 
                                             (e.g. user1@testmail.com;user2@testmail.com)"
					ng-model="user.emailid" ng-required="role!=='INTERNAL'" ng-readonly="role==='INTERNAL'" multiple-emails placeholder="Enter your email id">
					<span style="color:black; width:10 ;float:left ; padding-left:10px; padding-top:5px"    data-toggle="popover" data-placement="top" title="AS number to which the prefix belongs (Ex:AS1234)" class="glyphicon glyphicon-question-sign"></span><br>
					<!-- <span style=" position: absolute;font-size:13.5px">&nbsp;Multiple email addresses separated by semi-colon(;) can be entered. 
                                             (e.g. user1@testmail.com;user2@testmail.com)</span><br><br> -->
					
           
			</div>
			<br><br>
			<span>I warrant that all information provided by me on this website is correct and I agree to indemnify Telstra and its subcontractors for any loss or damage which might incur as a result of the information provided by me on this website. I acknowledge that Telstra reserves the right to block or filter out any inappropriate network announcements from its customers.</span><br><br>
	 	<div>
	 	
				<font color="red">*</font><input  type="checkbox"
					ng-model="user.acceptIpv6" ng-readonly="role==='INTERNAL'" 
					ng-required="role!=='INTERNAL'" ><b> Accept</b> 
	 	</div>
	 	<br>
	 	<h5>(<font color="red">*</font>indicates mandatory fields)</h5>
	 	<div id="loader" class="ajax-loader" ng-show=loading>
  			  <img src="img/ajax-loader.gif" />
  			</div> 
	 	<br>
		<br>
<div>
		<div class="form-actions col-md-2" style="display: inline-block; float: left">
			<button type="button" ng-disabled="((role==='INTERNAL' && SinglePrefixIpv6.networkprefixIpv6.$invalid)|| (role==='EXTERNAL' && SinglePrefixIpv6.$invalid))"  ng-click="submitipv6()" class="btn btn-primary customSmallButton">Submit</button>

		</div>

		<div class="form-actions col-md-2"
			style="display: inline-block; float: left;">
			<button type="reset"  ng-click="clear()"  class="btn btn-primary customSmallButton">Clear</button>

		</div>
		<div class="form-actions col-md-2"
			style="display: inline-block;  float: left">
			<button type="button"  ng-click="openbgpPolicy()"  class="btn btn-primary customSmallButton">BGP Policy</button>

		</div>
	</div>	
		<br>
		<br>
		
	</div>
    </div><!-- vlass="form group -->
  </form>
 </div> 
  </section>
 
</div>