<!doctype html>

<div ng-controller="ServerErrorController">

	<title>Error</title> <br> <br>
	<h4 style="color: red">An error was encountered while submitting the
		request on the server side. </h4>
	<h4 style="color:red">{{ErrorFromServer}}</h4>
	</html>
	
			<br>
		<br>
	<div class="form-actions"
			style="display: inline-block; width: 60%; float: right">
			<button type="submit"  ng-click="BackToHomePage()"  class="btn btn-primary">Go Back To Home Page</button>

		</div>
		</div>