
<!doctype html>
<div ng-controller="SuccessController">

	<title>Success</title> <br> <br>
	<h4 style="color: blue">Your request has been successfully submitted.</h4>
	<h4 style="color: blue">{{successcode}}</h4>
	
	<br>
		<br>
	<div class="form-actions"
			style="display: inline-block; width: 60%; float: right">
			<button type="submit"  ng-click="BackToHomePage()"  class="btn btn-primary custom">Go Back To Home Page</button>

		</div>
		</div>
	