<div>
<br><br>
<h4>Node to Node Test<h4>
<h5>This facility allows you to obtain real-time statistics between two nodes.<h5>

<section ng-init="tab = 1">
<ul class="nav nav-pills" style="height:60px">
  <li ng-class="{active:tab === 1}"><a href ng-click="tab = 1;loadIPv4();resetPage()" ng-init="loadIPv4()" ng-hide="ipv6disable">IPv4</a></li>
  <li ng-class="{active:tab === 2}"><a href ng-click="tab = 2;loadIPv6();resetPage()" ng-hide="ipv4disable">IPv6</a></li>
</ul>

<div class="panel" ng-show="tab === 1">
    <form id="IPv4" role="form" name="IPv4form" ng-submit="submitIPv4Form()">
		<div class="form-group">
		<div style="display:block">
		<div id ="left" style="display:inline-block;width : 40%;float:left" >
		  <label for="snode">From (IPv4)</label>
			<select class="form-control customwidth" id="snode" ng-disabled="ipv4disable" ng-model="source4" ng-change="resetPage()" required="required"
			     ng-options="node.cityAndCountryFormatted for node in nodes track by node.id ">
			     <option value="" style="display:none">--Select City,Country--</option>
			</select>
		</div>
		<div style="display:inline-block;width : 10%;float:left;color:transparent">a</div>
		<div id ="right" style="display:inline-block;width : 40%">
		  <label for="dnode">To (IPv4)</label>  
			<select class="form-control customwidth" id="dnode" ng-disabled="ipv4disable" ng-model="target4" ng-change="resetPage()" required="required"
			     ng-options="node.cityAndCountryFormatted for node in nodes track by node.id">
				 <option value="" style="display:none">--Select City,Country--</option>
			</select>
		 </div>
		 <div style="display:inline-block;width : 10%;float:right;color:transparent">a</div>
		 </div><br>
		 <!-- NEW FEATURE START -->
		 <div style="display:block">
			  <div id ="left" style="display:inline-block;width : 10%">
			  <label for="numPings">Pings</label>  
				<select class="form-control customwidth" id="numPings" ng-disabled="ipv4disable" ng-init="numPings = pingItems[1]" ng-model="numPings" ng-change="resetPage()" required="required"
					 ng-options="item as item.label for item in pingItems track by item.id">
				</select>
			 </div>
			 <div style="display:inline-block;width : 5%;float:right;color:transparent">a</div>
		 </div><br>
		 <!-- NEW FEATURE END -->
		 
		 <div>
	  <button type="submit" ng-hide="ipv4disable" class="btn btn-default" style="display:block">Get Statistics</button>
	 </div> 
    </div>
  </form>
  	<div ng-show="error">{{error}}</div>
  	<div ng-show="table">
  		<!-- <label style="color:#1784c7;text-align:center;">Results</label> -->
		<!-- <p style="text-align:left;color:#1784c7"><font size="6">Results</font></p> -->
  		<hr color="#1784c7">
  		<p style="text-align:left;color:#1784c7"><font size="5">Node ({{source4.cityAndCountryFormatted}}) to Target ({{target4.cityAndCountryFormatted}}) Statistics</font></p>
	  	<table class="table table-striped">
	  		<tr >
    			<td>Date</td>
    			<td>Min Latency (ms)</td>
    			<td>Max Latency (ms)</td>
    			<td>Avg Latency (ms)</td>
    			<td>Std Deviation (ms)</td>
			<td>Loss (%)</td>
  			</tr>
			<tr >
    			<td>{{ table.date }}</td>
    			<td>{{ table.MinLatency }}</td>
    			<td>{{ table.MaxLatency }}</td>
    			<td>{{ table.AvgLatency }}</td>
    			<td>{{ table.StdDeviation }}</td>
				<td >{{ table.AvgLoss }}</td>
  			</tr>

			<tr>
			<td colspan="6" style="color:#3e454c;text-align:center;">Test Results (ms)</td>
			</tr>

	  		<tr ng-if="numPings.id >= 5">
    			<td></td>
    			<td>{{ table.result1}}</td>
    			<td>{{ table.result2}}</td>
    			<td>{{ table.result3}}</td>
    			<td>{{ table.result4}}</td>
    			<td>{{ table.result5}}</td>
  			</tr>
			<tr ng-if="numPings.id >= 10">
    			<td></td>
    			<td>{{ table.result6}}</td>
    			<td>{{ table.result7}}</td>
    			<td>{{ table.result8}}</td>
    			<td>{{ table.result9}}</td>
    			<td>{{ table.result10}}</td>
   			</tr>
			<tr ng-if="numPings.id >= 15">
    			<td></td>
    			<td>{{ table.result11}}</td>
    			<td>{{ table.result12}}</td>
    			<td>{{ table.result13}}</td>
    			<td>{{ table.result14}}</td>
    			<td>{{ table.result15}}</td>
   			</tr>
 			<tr ng-if="numPings.id >= 20">
    			<td></td>
    			<td>{{ table.result16}}</td>
    			<td>{{ table.result17}}</td>
    			<td>{{ table.result18}}</td>
    			<td>{{ table.result19}}</td>
    			<td>{{ table.result20}}</td>
   			</tr>  			
		</table>
  	</div>
  </div>
  
  <div class="panel" ng-show="tab === 2">
  <form id="IPv6" role="form" name="IPv6form" ng-submit="submitIPv6Form()">
    <div class="form-group">
	<div style="display:block">
	<div id ="left" style="display:inline-block;width : 40%;float:left">
      <label for="snode">From (IPv6)</label>
        <select class="form-control customwidth" id="snode6" ng-disabled="ipv6disable" ng-model="source6" ng-change="resetPage()" required="required"
			ng-options="node.cityAndCountryFormatted for node in nodes track by node.id">
        	<option value="" style="display:none">--Select City,Country--</option>
        </select>
	</div>
	<div style="display:inline-block;width : 10%;float:left;color:transparent">a</div>
	<div id ="right" style="display:inline-block;width : 40%">
      <label for="dnode">To (IPv6)</label>  
		<select class="form-control customwidth" id="dnode6" ng-disabled="ipv6disable" ng-model="target6" ng-change="resetPage()" required="required"
			ng-options="node.cityAndCountryFormatted for node in nodes track by node.id ">		
			<option value="" style="display:none">--Select City,Country--</option>
		</select>
	 </div>
	 <div style="display:inline-block;width : 10%;float:right;color:transparent">a</div>
	 </div><br>
	 <div style="display:block">
			  <div id ="left" style="display:inline-block;width : 10%">
			  <label for="numPings">Pings</label>  
				<select class="form-control customwidth" id="numPings" ng-disabled="ipv6disable" ng-init="numPings = pingItems[1]" ng-model="numPings" ng-change="resetPage()" required="required"
					 ng-options="item as item.label for item in pingItems track by item.id">
				</select>
			 </div>
			 <div style="display:inline-block;width : 5%;float:right;color:transparent">a</div>
		 </div><br>
	 <div>
	  <button type="submit" ng-hide="ipv6disable" class="btn btn-default" style="display:block">Get Statistics</button>
	 </div> 
    </div>
  </form>
  	<div ng-show="result">{{result}}</div>
  	<div ng-show="error">{{error}}</div>
  	<div ng-show="table">
  		<!-- <p style="text-align:left;color:#1784c7"><font size="6">Results</font></p> -->
  		<hr color="#1784c7">
  		<p style="text-align:left;color:#1784c7"><font size="5">Node ({{source6.cityAndCountryFormatted}}) to Target ({{target6.cityAndCountryFormatted}}) Statistics</font></p>
	  	<table class="table table-striped">
	  		<tr >
    			<td>Date</td>
    			<td>Min Latency (ms)</td>
    			<td>Max Latency (ms)</td>
    			<td>Avg Latency (ms)</td>
    			<td>Std Deviation (ms)</td>
			<td>Loss (%)</td>
  			</tr>
			<tr >
    			<td>{{ table.date }}</td>
    			<td>{{ table.MinLatency }}</td>
    			<td>{{ table.MaxLatency }}</td>
    			<td>{{ table.AvgLatency }}</td>
    			<td>{{ table.StdDeviation }}</td>
			<td >{{ table.AvgLoss }}</td>
  			</tr>

			<tr>
			<td colspan="6" style="color:#3e454c;text-align:center;">Test Results (ms)</td>
			</tr>

	  		<tr ng-if="numPings.id >= 5">
    			<td></td>
    			<td>{{ table.result1}}</td>
    			<td>{{ table.result2}}</td>
    			<td>{{ table.result3}}</td>
    			<td>{{ table.result4}}</td>
    			<td>{{ table.result5}}</td>
  			</tr>
			<tr ng-if="numPings.id >= 10">
    			<td></td>
    			<td>{{ table.result6}}</td>
    			<td>{{ table.result7}}</td>
    			<td>{{ table.result8}}</td>
    			<td>{{ table.result9}}</td>
    			<td>{{ table.result10}}</td>
   			</tr>
			<tr ng-if="numPings.id >= 15">
    			<td></td>
    			<td>{{ table.result11}}</td>
    			<td>{{ table.result12}}</td>
    			<td>{{ table.result13}}</td>
    			<td>{{ table.result14}}</td>
    			<td>{{ table.result15}}</td>
   			</tr>
 			<tr ng-if="numPings.id >= 20">
    			<td></td>
    			<td>{{ table.result16}}</td>
    			<td>{{ table.result17}}</td>
    			<td>{{ table.result18}}</td>
    			<td>{{ table.result19}}</td>
    			<td>{{ table.result20}}</td>
   			</tr> 

		</table>
  	</div>
  </div>
</section>  
</div>