<div>
<br><br>
	<h4>Node to Host Trace<h4>
	<h5>This facility allows you to retrieve the network path from a Telstra POP to a given host. The host must either be a name or an IP address, for example www.telstra.com or "134.159.2.130" or "2001::10:0:0:20".<h5>

	<section ng-init="tab = 1">
		<ul class="nav nav-pills" style="height:60px">
  			<li ng-class="{active:tab === 1}"><a href ng-click="tab = 1;loadIPv4();resetPage();pristine()" ng-init="loadIPv4()" ng-hide="ipv6disable">IPv4</a></li>
  			<li ng-class="{active:tab === 2}"><a href ng-click="tab = 2;loadIPv6();resetPage();pristine()" ng-hide="ipv4disable">IPv6</a></li>
		</ul>

		<div class="panel" ng-show="tab === 1">
			<form id="IPv4" role="form" name="IPv4form" ng-submit="submitIPv4Form()">
    			<div class="form-group">
					<div style="display:block">
						<div id ="left" style="display:inline-block;width : 40%;float:left">
      						<label for="snode">From (IPv4)</label>
        					<select class="form-control customwidth" id="snode" ng-disabled="ipv4disable" ng-model="source4" ng-change="resetPage()" required="required"
        					    ng-options="node.cityAndCountryFormatted for node in nodes track by node.id">      	 				   
        						<option value="" style="display:none">--Select City,Country--</option>
        					</select>
						</div>
						<div style="display:inline-block;width : 10%;color:transparent">a</div>
						<div id ="right" style="display:inline-block;width : 40%">
      						<label for="dnode">To Host (IPv4)</label>  
							<input class="form-control customwidth" type="text" id="dnode" name="host4" ng-disabled="ipv4disable" placeholder="Enter an IPv4 address or host name" ng-model="target4" ng-model-options="{updateOn: 'blur'}" ng-change="resetPage()" ip-check required></input>
							<span style="color:red" class="error-message" ng-show="IPv4form.host4.$dirty && IPv4form.host4.$invalid">Enter a valid IPv4 address or host name.</span>
	 					</div>
	 					<div style="display:inline-block;width : 10%;float:right;color:transparent">a</div>
	 				</div><br>
	 				<div>
	  					<button type="submit" ng-hide="ipv4disable" ng-disabled="IPv4form.$invalid" class="btn btn-default" style="display:block">Get Statistics</button>
	 				</div> 
    			</div>
  			</form>
			<div ng-show="result">
			<!-- <p style="text-align:left;color:#1784c7"><font size="6">Results</font></p> -->
  			<hr color="#1784c7">
  			<p style="text-align:left;color:#1784c7"><font size="5">Node ({{source4.cityAndCountryFormatted}}) to Target ({{target4}}) Statistics</font></p>
			</div>
  			<div ng-show="result" ng-repeat="trace in result">{{trace.text}}</div>
  			<div ng-show="error">{{error}}</div>
 		</div> 
  
  		<div class="panel" ng-show="tab === 2">
  			<form id="IPv6" role="form" name="IPv6form" ng-submit="submitIPv6Form()">
    			<div class="form-group">
					<div style="display:block">
						<div id ="left" style="display:inline-block;width : 40%;float:left">
      						<label for="snode">From (IPv6)</label>
        					<select class="form-control customwidth" id="snode6" ng-model="source6" ng-disabled="ipv6disable" ng-change="resetPage()" required="required"
        					    ng-options="node.cityAndCountryFormatted for node in nodes track by node.id">      	 				          					
        						<option value="" style="display:none">--Select City,Country--</option>
        					</select>
						</div>
						<div style="display:inline-block;width : 10%;color:transparent">a</div>
						<div id ="right" style="display:inline-block;width : 40%">
      						<label for="dnode">To Host (IPv6)</label>
							<input class="form-control customwidth" type="text" id="dnode6" name="host6" ng-disabled="ipv6disable" placeholder="Enter an IPv6 address or host name" ng-model="target6" ng-model-options="{updateOn: 'blur'}" ng-change="resetPage()" valid-number required></input>
							<span style="color:red" class="error-message" ng-show="IPv6form.host6.$dirty && IPv6form.host6.$invalid">Enter a valid IPv6 address or host name.</span>

	 					</div>
	 					<div style="display:inline-block;width : 10%;float:right;color:transparent">a</div>
	 				</div><br>
	 				<div>
	  					<button type="submit" ng-hide="ipv6disable" ng-disabled="IPv6form.$invalid" class="btn btn-default" style="display:block">Get Statistics</button>
	 				</div> 
    			</div>
  			</form>
			<div ng-show="result">
			<!-- <p style="text-align:left;color:#1784c7"><font size="6">Results</font></p> -->
  			<hr color="#1784c7">
  			<p style="text-align:left;color:#1784c7"><font size="5">Node ({{source6.cityAndCountryFormatted}}) to Target ({{target6}}) Statistics</font></p>
			</div>
  			<div ng-show="result" ng-repeat="trace in result">{{trace.text}}</div>
  			<div ng-show="error">{{error}}</div>
 		</div> 
  	</section>
  
</div>