<html >
<br><br>
<h4>DNS Resolver Request</h4><br>
<h5>Before you use this service, you will need to set up your client host to send queries to our Telstra name server.</h5>
<h5>If you would like Telstra to be a Primary Name Server for your domain(s), please complete the form below with the corresponding details.</h5><br>
<title>DNS Resolver Request</title>
<div ng-controller="DnsResolverAddController" ng-init="getServices()">
<section ng-init="tab = 1">
<ul class="nav nav-pills" style="height:60px">
  <li ng-class="{active:tab === 1}"><a href ng-click="tab = 1 ;resetPage()">IPv4</a></li>
  <li ng-class="{active:tab === 2}"><a href ng-click="tab = 2 ;resetPage()">IPv6</a></li>
</ul>
<div class="panel" ng-show="tab === 1" >  
  <form name="myFormipv4" role="form" >
  <fieldset ng-disabled="loading">
  <div class="form-group">
  <div style="display:block">
   <div>
                     

                           <label class="col-md-3"> Service ID<font color="red">*</font></label> <select
                                  name="recordType" class="form-control" ng-model="user.serviceId" 
                                  id="type" ng-required="true">
                                  <option value="" disabled selected>Choose your service ID</option>
                                  <option ng-repeat="service in services" value="{{service}}">{{service}}</option>

                           </select>
                     </div>
                           <div>
                           <div class="col-md-3 ">    
                     </div>
                       <span style="color:red" class="error-message" ng-show="myFormipv4.emailId.$dirty && myFormipv4.emailId.$invalid">Error in Email Contact format.</span>
                     <br>
                     <label class = "col-md-3">
                     Email Contact<font color="red">*</font>
                     </label>
                     <input class ="form-control" type="email" name="emailId" ng-maxlength="80" ng-model="user.contactEmailAddress" ng-model-options="{updateOn: 'blur'}" ng-required="true" email-id placeholder="Enter the email id" >
                 
           
                     </div>
              
              </div>
                     
                     
                     <div>
                     <div class="col-md-3">     
                     </div>
                     <span style="color: red" class="error-message"
                           ng-show="myFormipv4.host.$invalid">Error in Host.</span><br>
              <label class = "col-md-3">
                     Your Client Hostname
                     </label>
                     
                     <input class ="form-control" type="text" name="host" ng-maxlength="80" ng-model="user.hostname" ng-model-options="{updateOn: 'blur'}" placeholder="Enter the hostname" special-characterhost  >
              
              </div>
         
              
                     <div>
                     <div class="col-md-3">     </div>
                     <span style="color:red" class="error-message" ng-if="myFormipv4.ipaddressIpv4.$dirty && myFormipv4.ipaddressIpv4.$error.ipadressvalidity">Please enter valid
                                                IPv4 Address.</span> 
                     <span style="color:red" class="error-message" ng-if="myFormipv4.ipaddressIpv4.$dirty && myFormipv4.ipaddressIpv4.$error.prefixvalidation">Please enter valid
                                                prefix between 24 and 32.</span> 
                     <span style="color:red" class="error-message" ng-if="myFormipv4.ipaddressIpv4.$dirty && myFormipv4.ipaddressIpv4.$error.octectvalidation">Please enter valid
                                                4th Octet.</span>
                     <span style="color:red" class="error-message" ng-if="myFormipv4.ipaddressIpv4.$dirty && myFormipv4.ipaddressIpv4.$error.noPrefix">Please enter a Prefix.</span>
                     <br><div class="col-md-3">
                           <Span align="left"><b>Your IP address block</b><font color="red">*</font><br>(Enter in CIDR format Eg: 134.111.22.0/25)</br></span>
                     </div>
                     <input class="form-control" name="ipaddressIpv4" type="text"
                           ng-model="user.ipAddress" ng-model-options="{updateOn: 'blur'}" placeholder="Enter the IPv4 address" ip-block required "/>

        
          

              </div>
   

       
             <br>
       <br><br>
       <div>
       <div  class="form-actions col-md-3" id ="left" style="display:inline-block;float:left">
              <button class="btn btn-primary custom" ng-hide=loading  ng-disabled="myFormipv4.$invalid" ng-click="submitipv4()">Request DNS Resolve Service</button>
</div>

              <div class="form-actions col-md-3"
                     style="display: inline-block;  float: left">
                     <button type="button" ng-click="cancelipv4()" ng-hide=loading ng-disabled="myFormipv4.$invalid"  class="btn btn-primary custom">Cancel DNS Resolve Service</button>
</div><br><br><br>
 </div>
              
  </div>
    </fieldset>
       <div id="loader" class="ajax-loader" ng-show=loading>
    <img 
         
         src="img/ajax-loader.gif" />
  </div> 
             
  </form>
</div>
   <div class="panel" ng-show="tab === 2" > 
   <form name="myFormipv6" role="form" >
      <fieldset ng-disabled="loading">
   <div class="form-group">
   <div style="display:block">
   
    <div>
                     

                           <label class="col-md-3"> Service ID<font color="red">*</font></label> <select
                                  name="recordType" class="form-control" ng-model="user.serviceId" ng-change="clearRecordType()"
                                  id="type" ng-required="true">
                                  <option value="" disabled selected>Choose your service ID</option>
                                  <option ng-repeat="service in services" value="{{service}}">{{service}}</option>

                           </select>
                     </div>
                           <div>
                           <div class="col-md-3 ">    
                     </div>
                       <span style="color:red" class="error-message" ng-show="myFormipv6.emailId.$dirty && myFormipv6.emailId.$invalid">Error in Email Contact format. </span>
           <br>
                     <label class = "col-md-3">
                     Email Contact<font color="red">*</font>
                     </label>
                     <input class ="form-control" type="email" name="emailId" ng-maxlength="80" ng-model="user.contactEmailAddress" ng-model-options="{updateOn: 'blur'}"  ng-required="true" email-id placeholder="Enter the email id"/>
                     </div>
                     
              </div>
              
              <div>
              <div class="col-md-3">     
                     </div>
                     <span style="color: red" class="error-message"
                           ng-show="myFormipv6.host.$invalid">Error in Host.</span><br>
              <label class = "col-md-3">
                     Your Client Hostname
                     </label>
                     
                     <input class ="form-control" type="text" name="host" ng-maxlength="80" ng-model="user.hostname" ng-model-options="{updateOn: 'blur'}"  placeholder="Enter the hostname" special-characterhost  >
              
              </div>
              
                  
                    <!--  <div>
                     <div class="col-md-3"></div>
                     <span style="color:red" class="error-message" ng-if="myFormipv6.ipaddressIpv6.$dirty && myFormipv6.ipaddressIpv6.$error.ipadressvalidity">Please enter valid
                                                IPv6 Address.</span> 
            <span style="color:red" class="error-message" ng-if="myFormipv6.ipaddressIpv6.$dirty  &&  myFormipv6.ipaddressIpv6.$error.invalidPrefix">Please enter valid
                                                prefix between 48 and 64.</span> 
                     <span style="color:red" class="error-message" ng-if=" myFormipv6.ipaddressIpv6.$dirty && myFormipv6.ipaddressIpv6.$error.noPrefix">Please enter a Prefix.</span>
                     <br>
                     <div class="col-md-3">
                           <Span align="left"><b>Your IP address block</b><font color="red">*</font><br>(Enter in CIDR format Eg: 2001:1000:2000::/48)</br></span>
                     </div>
                     <input class="form-control" name="ipaddressIpv6" type="text"
                           ng-model="user.ipAddressIpv6" ng-model-options="{updateOn: 'blur'}" placeholder="Enter the IPv6 address" style="text-transform: uppercase" ip-blockipv6 required />

         
          
              </div> -->
               <div>
                     <div class="col-md-3"></div>
                     <span style="color:red" class="error-message" ng-if="myFormipv6.ipaddressIpv6.$dirty && myFormipv6.ipaddressIpv6.$error.ipadressvalidity">Please enter valid
                                                IPv6 Address.</span> 
            <span style="color:red" class="error-message" ng-if="myFormipv6.ipaddressIpv6.$dirty  &&  myFormipv6.ipaddressIpv6.$error.invalidPrefix">Please enter valid
                                                prefix between 48 and 64.</span> 
                     <span style="color:red" class="error-message" ng-if="(myFormipv6.ipaddressIpv6.$dirty && myFormipv6.ipaddressIpv6.$error.noPrefix)|| (myFormipv6.ipaddressIpv6.$dirty  &&  myFormipv6.ipaddressIpv6.$error.prefixtype)">Please enter a valid Prefix.</span>
                     <br>
                     <div class="col-md-3">
                           <Span align="left"><b>Your IP address block</b><font color="red">*</font><br>(Enter in CIDR format Eg: 2001:1000:2000::/48)</br></span>
                     </div>
                     <input class="form-control" name="ipaddressIpv6" type="text"
                           ng-model="user.ipAddress" ng-model-options="{updateOn: 'blur'}" placeholder="Enter the IPv6 address" ip-blockipv6 required />

         
          
              </div>
             <br>
       <br><br>
       <div>
       <div  class="form-actions col-md-3" id ="left" style="display:inline-block;float:left">
              <button class="btn btn-primary custom" ng-hide=loading ng-click="submitipv6()" ng-disabled="myFormipv6.$invalid" >Request DNS Resolve Service</button>
</div>

              <div class="form-actions col-md-3"
                     style="display: inline-block; float: left">
                     <button type="button" ng-click="cancelipv6()" ng-hide=loading ng-disabled="myFormipv6.$invalid" class="btn btn-primary custom">Cancel DNS Resolve Service</button>
</div>
<br><br><br>
  </div>
              
              
              
   </div>
   </fieldset>
       <div id="loader" class="ajax-loader" ng-show=loading>
    <img 
         
         src="img/ajax-loader.gif" />
  </div> 
            
   </form>
   </div>
</section>
</div>
