<!doctype html>
<br><br>
<div ng-controller="DnsResolverViewController">
	
	  <div ng-show="error" style="color: red"><h4>{{error}}</h4></div>

<div ng-show="table">
<h4>List of allowed IP Blocks for DNS Resolver</h4><br>
<table class="table">
	
	<tr style="font-weight: bold">
		<th>Host Name
		</th>
		<th>IP Block
		</th>
		<th>Contact
		</th>
		<th>Account
		</th>
		
		
		
	</tr>
	
	<!-- //ng-repeat="userdetails in userInformation" -->
	</tr>
	<tr ng-repeat="viewrecord in viewrecords">
		
		<td>{{viewrecord.Hostname}}
		</td>
		<td>{{viewrecord.IPBlock}}
		</td>
		<td>{{viewrecord.Contact}}
		</td>
		<td>{{viewrecord.Account}}
		</td>
		
		
	</tr>
</table>
	
</div>
 <div id="loader" class="ajax-loader" ng-show=loading>
    <img 
         
         src="img/ajax-loader.gif" />
  </div> 

</div> 