
<html>

<br><br>
<form name="myForm"  novalidate method="POST">
<div ng-controller="PrimaryDnsAddController" ng-init="getServices()">

	<h4>
		Primary Name Server Request
	</h4><br>
	<h5>If you would like Telstra to be a Primary Name Server for your
		domain(s), please complete the form below with the corresponding details.</h5>
	
<br>
		<fieldset ng-disabled="loading">
		<div class="form-group" style="display: block">
	 <div>
                     

                           <label class="col-md-3"> Service ID<font color="red">*</font></label> <select
                                  name="recordType" class="form-control" ng-model="user.serviceId" 
                                  id="type" ng-required="true">
                                  <option value="" disabled selected>Choose your service ID</option>
                                  <option ng-repeat="service in services" value="{{service}}">{{service}}</option>

                           </select>
             </div>
            
			<div>
			  <div class="col-md-3">	
			</div>
			  <span style="color:red" class="error-message" ng-show="myForm.emailId.$dirty && myForm.emailId.$invalid">Error in Email Contact format. </span><br>
			
				<label class="col-md-3"> Email Contact<font color="red">*</font>
				</label> <input name="emailId"  ng-model-options="{updateOn: 'blur'}" class="form-control" type="email"
					ng-model="user.contactEmailAddress" ng-maxlength="80" ng-required="true" email-id
					placeholder="Enter your email id" > 
                            <div class="col-md-3">	
			</div>
           
			</div>

		

			<div>
			
			<span style="color:red" class="error-message"
				ng-show="myForm.domain.$dirty && myForm.domain.$invalid">Error in Domain.</span><br>
				<label class="col-md-3"> Domain<font color="red">*</font>
				</label> <input name="domain" class="form-control" type="text"
					ng-model="user.domain" ng-maxlength="80" ng-model-options="{updateOn: 'blur'}" required placeholder="Enter the domain" domain-andhost>
			
			 
			</div>

		

			<div>
			<div class="col-md-3">	
			</div>
			<span style="color: red" class="error-message"
				ng-show="myForm.host.$dirty && myForm.host.$invalid">Error in Host.</span><br>
				<label class="col-md-3"> Host<font color="red">*</font>
				</label> <input name="host" class="form-control" type="text"
					ng-model="user.host" ng-maxlength="80" ng-model-options="{updateOn: 'blur'}" placeholder="Enter the hostname" domain-andhost required/>
					
			</div>

			<br>




			<div>
				<!-- <div class="col-md-3">	
			</div>
			<span style="color: red" class="error-message"
				ng-show="myForm.record.$dirty && myForm.record.$invalid">Error in Record.</span><br> -->

				<label class="col-md-3"> Record Type<font color="red">*</font></label> <select
					name="recordType" class="form-control" ng-model="user.recordType" ng-change="clearRecordType()"
					id="type" required>
					<option value="" disabled selected>Choose the record type</option>
					<option value="A">A</option>
					<option value="AAAA">AAAA</option>
					<option value="CNAME">CNAME</option>
					<option value="MX">MX</option>
					<option value="NS">NS</option>
					<option value="TXT">TXT</option>
				</select>
			</div>
	

		<div ng-if="user.recordType=='A'">
		  <div class="col-md-3">	
            
			</div> 
			<span style="color:red" class="error-message" ng-show="myForm.ipaddressIpv4.$dirty && myForm.ipaddressIpv4.$invalid">Please enter valid
							IPv4 Address.</span> <br>
			<div class="col-md-3">
				<Span align="left"><b>A Record</b></span>: IP Address<font color="red">*</font>
			</div>
			<input class="form-control" name="ipaddressIpv4" type="text"
				ng-model="user.aRecordIpV4Address" ng-maxlength="1024" ng-model-options="{updateOn: 'blur'}" placeholder="Enter the IPv4 address" ip-vfour required />
				
			 
            
           

		</div>
         
         <div ng-if="user.recordType=='AAAA'">
         <div class="col-md-3">	
			</div>
			<span style="color: red" class="error-message"
				ng-show="myForm.ipaddressIpv6.$dirty && myForm.ipaddressIpv6.$invalid">Please
				enter valid IPv6 Address.</span><br>
			<div class="col-md-3">
				<Span align="left"><b>AAAA Record</b></span>: IP Address<font color="red">*</font>
			</div>
			<input class="form-control" name="ipaddressIpv6" type="text"
				ng-model="user.aRecordIpV6Address" ng-maxlength="1024" ng-model-options="{updateOn: 'blur'}" placeholder="Enter the IPv6 address"  ip-vsix required />
             

		</div>

		<div ng-if="user.recordType=='CNAME'">
		 <div class="col-md-3 ">	
			</div>
			<span style="color:red" class="error-message"
				ng-show="myForm.cName.$dirty && myForm.cName.$invalid">Please enter a valid CNAME.</span><br>
			<div class="col-md-3">
				<Span align="left"><b>CNAME Record</b></span>:Next Host<font color="red">*</font>
			</div>
			<input name="cName" class="form-control" type="text"
				ng-model="user.cnameRecordName" ng-maxlength="1024" ng-model-options="{updateOn: 'blur'}" placeholder="Enter the CNAME" special-character required>
				
		</div>
		


		<div ng-if="user.recordType=='MX'">
		<div class="col-md-3">	
			</div>
			<!-- <span style="color: red" class="error-message"
				ng-if="myForm.mxRecord1.$dirty && myForm.mxRecord1.$invalid">The
				preference value should be a number. </span><br> -->
				
				<span style="color:red" class="error-message"
				ng-if="(myForm.mxRecord2.$dirty && myForm.mxRecord2.$invalid)||(myForm.mxRecord1.$dirty && myForm.mxRecord1.$invalid)">Please
				enter valid a Preference number and MX value.</span><br>
			<div class="col-md-3">
				<Span align="left"><b>MX Record</b></span>:Preference Value <font color="red">*</font>
			</div>
			
			
			<input name="mxRecord1" class="form-control" type="text"
				style="display: inline-block; width: 5%; float: left"
				ng-model="user.mxRecordPrefix" ng-maxlength="4" ng-model-options="{updateOn: 'blur'}" positive-number required> <input
				name="mxRecord2" ng-model-options= "{updateOn: 'blur'}" class="form-control" type="text" style="width: 25%"
				ng-model="user.primarymxpv" ng-maxlength="1019" placeholder="Enter the MX record" special-character required>
			
			
				
		</div>


		<div ng-if="user.recordType=='NS'">
		<div class="col-md-3">	
			</div>
		<span style="color:red" class="error-message"
				ng-show="myForm.nsRecord.$dirty && myForm.nsRecord.$invalid">Error in  NS record.</span><br>
			<div class="col-md-3">
				<Span align="left"><b>NS Record</b></span>:NS Value <font color="red">*</font><br> <br>
			</div>
			<input name="nsRecord" ng-model-options="{updateOn: 'blur'}" class="form-control" type="text"
				ng-model="user.nsRecordServer"  ng-maxlength="1024" placeholder="Enter the NS record" special-character required>
				
		</div>


		<div ng-if="user.recordType=='TXT'">
		<div class="col-md-3">	
			</div>
				<span style="color:red" class="error-message"
				ng-show="myForm.textRecord.$dirty && myForm.textRecord.$invalid">Error in TXT record's text.</span><br>
			<div class="col-md-3">
				<Span align="left"><b>Text Record</b></span>:Text<font color="red">*</font>
			</div>
			<input name="textRecord" ng-model-options="{updateOn: 'blur'}" class="form-control" type="text"
				ng-model="user.textRecordText" ng-maxlength="1024" placeholder="Enter the TXT record" text-record required>
				
		</div>
		<br>
		  

		
		
                   
  <div>
		

		<div class="form-actions col-md-3"
			style="display: inline-block;  float: left ;position:relative" >
			<button type="submit" ng-hide=loading ng-disabled="myForm.$invalid" ng-click="submitDNSForm()"  class="btn btn-primary customSmallButton">Submit</button>

		</div>
		 <div class="form-actions col-md-3" style="display: inline-block; float: left ;position:relative">
			<button type="reset" ng-hide=loading ng-click="reset()" class="btn btn-primary customSmallButton">Clear</button>

		</div> 
		
		</div><br><br><br><br><br><br>
			</div>
</fieldset>
		<div id="loader" class="ajax-loader" ng-show=loading>
    <img 
         
         src="img/ajax-loader.gif" />
  </div> 

		<br>

	

</div>
</form>


</html>