<!doctype html>
<form name="myForm"   method="POST">
<div ng-controller="PrimaryDnsViewController">
	<div >
		<title>View primary server</title> <br>
		<br>
		
	

 </div >
 <div ng-show="error" style="color: red"><h4>{{error}}</h4></div>
 <fieldset ng-disabled="loading">
<div ng-show="table" ng-init="viewdetails()">
	<div style="display: block; float: center">
			<h4>
				View and delete your domain records entered
				<h4>
					<br>
					<h5>
					     An entry in the list does not necessarily mean that the Primary server has been set up
						successfully. You will need to check the status by using diagnostic
						tools such as dig or ns lookup.</h5>
					  <h5> If you have recently added or removed a domain to the
						Primary Name Server, this domain will show up or be removed from
						this list at the next database build. A database build is
						undertaken every two hrs(on the hour).
					</h5>
					
					
					<h5>Please select the check box to delete your domain records.</h5>
					<br>
					
	
		</div>
		<div style = "height:400px;width:100%;padding-right:1em; overflow:auto;">
<table >
	
	<tr style="font-weight: bold">
		<th></th>
		<th>Account
		</th>
		<th>Domain
		</th>
		<th>Host
		</th>
		<th>Record Type
		</th>
		<th>Parameters
		</th>
		<th>Request Date
		</th>
		<th>Email Contact
		</th>
		
	</tr>
	

	
	<tr ng-repeat="dnsRecord in dnsRecords">
	<td><input type="checkbox"  ng-click="addToList($event,dnsRecord.DBrowId)" >
         </td>
		<td>{{dnsRecord.Account}}
         </td>
		<td>{{dnsRecord.Domain}}
		</td>
		<td>{{dnsRecord.Hostname}}
		</td>
		<td>{{dnsRecord.recordType}}
		</td>
		<td>{{dnsRecord.parameter}}
		</td>
		<td>{{dnsRecord.RequestTime}}
		</td>
		<td>{{dnsRecord.Contact}}
		</td>
	</tr>
</table>
</div>
<br><br>
						<div style="padding:20px">
<div class="form-actions col-md-2"
						style="display: inline-block;  float: left">
						<button type="button" ng-show="checked>0" ng-click="deleteRecords()" 
							class="btn btn-primary customSmallButton">Delete </button>
					</div>
					<div class="form-actions col-md-2"
						style="display: inline-block;  float: left">
						<button type="reset" ng-show="checked>0" ng-click="clearAll()"
							class="btn btn-primary customSmallButton">Clear</button>
					</div>
					</div>
					<br><br><br><br><br><br><br><br><br><br>
	
						
	
</div>
</fieldset>
 <div id="loader" class="ajax-loader" ng-show=loading>
    <img 
         
         src="img/ajax-loader.gif"/>
  </div> 
</div> 
</form>