<!DOCTYPE html>


<br>
<div ng-controller="ReverseDelegationAddController" ng-init="getServices()">
       <br>
       <h4>Reverse Delegation Request</h4><br>
<h5>If you would like to use our Reverse Delegation Service, please complete the form below with the corresponding details. You will receive confirmation via email once the master zone file is updated successfully.</h5><br>
       <section ng-init="tab = 1">
              <ul class="nav nav-pills" style="height: 60px">
                     <li ng-class="{active:tab === 1}"><a href ng-click="tab = 1;resetPage()">IPv4</a></li>
                     <li ng-class="{active:tab === 2}"><a href ng-click="tab = 2;resetPage()">IPv6</a></li>
              </ul>

              <div class="panel" ng-show="tab === 1">
              
<form  name="myFormipv4">
  <fieldset ng-disabled="loading">
  <div>
                     

                           <label class="col-md-4"> Service ID<font color="red">*</font></label> <select
                                  name="recordType" class="form-control" ng-model="user.serviceId" 
                                  id="type" ng-required="true">
                                  <option value="" disabled selected>Choose your service ID</option>
                                  <option ng-repeat="service in services" value="{{service}}">{{service}}</option>

                           </select>
                     </div>
   <div>
    <div class="col-md-4 "> 
                     </div>
                       <span style="color:red" class="error-message" ng-show="myFormipv4.emailId.$dirty && myFormipv4.emailId.$invalid">Error in Email Contact format. </span><br>
                            <label class="col-md-4"> Email Contact<font color="red">*</font></label> <input name="emailId"  ng-model-options="{updateOn: 'blur'}" class="form-control" type="email" email-id
                                  ng-model="user.contactEmailAddress" ng-maxlength="80" ng-required="true"
                                  placeholder="Enter your email id"> 
                 
           
                     </div>
       

              
                   <div>
                     <div class="col-md-4">     </div>
                     <span style="color:red" class="error-message" ng-if="myFormipv4.ipaddressIpv4.$dirty  && myFormipv4.ipaddressIpv4.$error.ipadressvalidity">Please enter valid
                                                IPv4 Address.</span> 
                     <span style="color:red" class="error-message" ng-if="myFormipv4.ipaddressIpv4.$dirty  &&  myFormipv4.ipaddressIpv4.$error.prefixvalidation">Please enter valid
                                                prefix between 24 and 32.</span> 
                     <span style="color:red" class="error-message" ng-if="myFormipv4.ipaddressIpv4.$dirty  && myFormipv4.ipaddressIpv4.$error.octectvalidation">Please enter valid
                                                4th Octet.</span>
                     <span style="color:red" class="error-message" ng-if="myFormipv4.ipaddressIpv4.$dirty  && myFormipv4.ipaddressIpv4.$error.noPrefix">Please enter a Prefix.</span>
                     <br><div class="col-md-4">
                           <Span align="left"><b>Reverse Delegation</b>(IP Block)<font color="red">*</font></span>
                     </div>
                     <input class="form-control" name="ipaddressIpv4" type="text"
                           ng-model="user.ipBlock" ng-model-options="{updateOn: 'blur'}" placeholder="Enter the IPv4 address" ip-block required "/>

         
          

              </div>
            
     
                    <div>
    <div class="col-md-4 "> 
                     </div>
                       <span style="color:red" class="error-message" ng-show="myFormipv4.domain.$dirty && myFormipv4.domain.$invalid">Error in Domain.</span><br>
                            <label class="col-md-4"> Reverse Delegation<Span align="left">(Name Server)</span><font color="red">*</font></label> <input name="domain"  ng-model-options="{updateOn: 'blur'}" class="form-control" type="text" domain-andhost
                                  ng-model="user.nameServer" ng-maxlength="80" ng-required="true"
                                  placeholder="Enter the server details"> 
                 
           
                     </div>
              
              <br>
    
   
     <br>
       
       
<div>
              
       <div  class="form-actions col-md-4" id ="left" style="display:inline-block;float:left">
              <button class="btn btn-primary custom" ng-hide=loading ng-click="submitipv4()" ng-disabled="myFormipv4.$invalid">Request Service</button>
</div>
       

              <div class="form-actions col-md-4"
                     style="display: inline-block;  float: left">
                     <button type="button" class="btn btn-primary custom" ng-hide=loading ng-click="cancelipv4()" ng-disabled="myFormipv4.$invalid" >Cancel Service</button>

              </div>
              </div>
              </fieldset>
                       <div id="loader" class="ajax-loader" ng-show=loading>
    <img 
         
         src="img/ajax-loader.gif" />
  </div> 
</form>       
</div>

 
              <div class="panel" ng-show="tab === 2">
              
<form  name="myFormipv6">
  <fieldset ng-disabled="loading">

  <div>
                     

                           <label class="col-md-4"> Service ID<font color="red">*</font></label> <select
                                  name="recordType" class="form-control" ng-model="user.serviceId" 
                                  id="type" ng-required="true">
                                  <option value="" disabled selected>Choose your service ID</option>
                                  <option ng-repeat="service in services" value="{{service}}">{{service}}</option>

                           </select>
                     </div>
       
                       <div>
                       <div class="col-md-4 ">  
                     </div>
                       <span style="color:red" class="error-message" ng-show="myFormipv6.emailId.$dirty && myFormipv6.emailId.$invalid">Error in Email Contact format. </span><br>
                           <label class="col-md-4"> Email Contact<font color="red">*</font>
                           </label> <input name="emailId"  ng-model-options="{updateOn: 'blur'}" class="form-control" type="email"
                                  ng-model="user.contactEmailAddress" ng-maxlength="80" ng-required="true" email-id
                                  placeholder="Enter your email id"> 
                  
           
                     </div>

                     <!-- <div>
                     <div class="col-md-4">     </div>
                      <span style="color:red" class="error-message" ng-if="myFormipv6.ipaddress.$dirty &&  myFormipv6.ipaddress.$error.ipadressvalidity">Please enter valid
                                                IPv6 Address.</span> 
       <span style="color:red" class="error-message" ng-if="myFormipv6.ipaddress.$dirty  &&  myFormipv6.ipaddress.$error.invalidPrefix">Please enter valid
                                                prefix between 48 and 64.</span> 
                     <span style="color:red" class="error-message" ng-if="myFormipv6.ipaddress.$dirty && myFormipv6.ipaddress.$error.noPrefix">Please enter a Prefix.</span>
       
                     <br><div class="col-md-4">
                           <Span align="left"><b>Reverse Delegation</b>(IP Block)<font color="red">*</font></span><br>
                     </div>
                     <input class="form-control" name="ipaddress" type="text"
                           ng-model="user.ipBlockIpv6" ng-model-options="{updateOn: 'blur'}" placeholder="Enter the IPv6 address" style="text-transform: uppercase" ip-blockipv6 required "/>

        

              </div> -->
                   <div>
                     <div class="col-md-4">     </div>
                      <span style="color:red" class="error-message" ng-if="myFormipv6.ipaddress.$dirty &&  myFormipv6.ipaddress.$error.ipadressvalidity">Please enter valid
                                                IPv6 Address.</span> 
       <span style="color:red" class="error-message" ng-if="myFormipv6.ipaddress.$dirty  &&  myFormipv6.ipaddress.$error.invalidPrefix">Please enter valid
                                                prefix between 48 and 64.</span> 
                     <span style="color:red" class="error-message" ng-if="(myFormipv6.ipaddress.$dirty && myFormipv6.ipaddress.$error.noPrefix)|| (myFormipv6.ipaddress.$dirty  &&  myFormipv6.ipaddress.$error.prefixtype)"">Please enter a valid Prefix.</span>
       
                     <br><div class="col-md-4">
                           <Span align="left"><b>Reverse Delegation</b>(IP Block)<font color="red">*</font></span><br>
                     </div>
                     <input class="form-control" name="ipaddress" type="text"
                           ng-model="user.ipBlock" ng-model-options="{updateOn: 'blur'}" placeholder="Enter the IPv6 address"  ip-blockipv6 required "/>

        

              </div>

                 <div>
    <div class="col-md-4 "> 
                     </div>
                       <span style="color:red" class="error-message" ng-show="myFormipv6.domain.$dirty && myFormipv6.domain.$invalid">Error in Domain.</span><br>
                            <label class="col-md-4"> Reverse Delegation<Span align="left">(Name Server)</span><font color="red">*</font></label> <input name="domain"  ng-model-options="{updateOn: 'blur'}" class="form-control" type="text" domain-andhost
                                  ng-model="user.nameServer" ng-maxlength="80" ng-required="true"
                                  placeholder="Enter the server details"> 
                 
           
                     </div>
              <br>
  
   
     <br>
       
       

       <div>
       <div  class="form-actions col-md-4" id ="left" style="display:inline-block;float:left">
              <button class="btn btn-primary custom" ng-hide=loading  ng-click="submitipv6()" ng-disabled="myFormipv6.$invalid">Request Service</button>
</div>
       

              <div class="form-actions col-md-4"
                     style="display: inline-block;  float: left">
                     <button type="button" class="btn btn-primary custom" ng-hide=loading ng-click="cancelipv6()" ng-disabled="myFormipv6.$invalid">Cancel Service</button>
</div> 
              </div>
              <br><br>
              </fieldset>
                       <div id="loader" class="ajax-loader" ng-show=loading>
    <img 
         
         src="img/ajax-loader.gif" />
  </div> 
</form>       
</div>

 </section>
</div>
</div> 
