<!doctype html>

<div ng-controller="ReverseDelegationAndMappingViewController">
	
		<title>View Reverse Delegation  Records</title> <br><br>
		<div ng-show="error" style="color: red"><h4>{{error}}</h4></div>
<div ng-show="table" >
<h4>List of Reverse Mapping and Reverse Delegation records</h4><br>
<table class="table">
	
	<tr style="font-weight: bold">
		<th>My Service Account
		</th>
		<th>Email
		</th>
		<th>IP Address/IP Block
		</th>
		 <th>Record Type
		</th>
		<th>Fully Qualified Domain Name
		</th>
		
		
	</tr>
	
	<!-- Chnage the values below according to the key value coming from back end -->
	</tr>
	<tr ng-repeat="view in views">
		
		<td>{{view.Account}}
		</td>
		<td>{{view.Contact}}
		</td>
		<td>{{view.IPaddress}}
		</td>
		 <td>{{view.RecordType}}
		</td> 
		<td>{{view.Hostname}}
		</td>
		
	</tr>
</table>
</div>	
 <div id="loader" class="ajax-loader" ng-show=loading>
    <img 
         
         src="img/ajax-loader.gif" />
  </div> 
</div>
