<!doctype html>

<div ng-controller="SecondaryDnsViewAndRemoveController">
	<div >
		<title>View Secondary server</title> <br>
		<br>
		</div>
	 <div ng-show="error" style="color: red"><h4>{{error}}</h4></div>

<div ng-show="table">
		<div style="display: block; float: center">
			<h4>
				View your domain record entered
				<h4>
					<br>
					<h5>
						An entry in the list does
						not necessarily mean that the secondary server has been set up
						successfully. You will need to check the status by using diagnostic
						tools such as dig or nslookup.</h5>
					<h5>If you have recently added or removed a domain to the
						Secondary Name Server, this domain will only show up or be removed
						from the list at the next data build. A database build is taken up
						every hour starting from midnight everyday.</h5>
					
						
					<br>
	
		</div>

		 

<h4>Below is the list of all your domains.</h4>
<br><table class="table">
	
	<tr style="font-weight: bold">
		
		<th>Domain
		</th>
		<th>Primary DNS Server IP address
		</th>
		<th>Request Date
		</th>
		
	</tr>
	<tr ng-repeat="demo in demos">
		
		<td>{{demo.Domain}}
		</td>
		<td>{{demo.DNS_IP}}
		</td>
		<td>{{demo.Date}}
		</td>
	</tr>
</table>

</div>
				 <div id="loader" class="ajax-loader" ng-show=loading>
    <img 
         
         src="img/ajax-loader.gif" />
  </div> 
</div>

