<!doctype html>
<form name="myForm"   method="POST">
<div ng-controller="SecondaryDnsViewAndRemoveController">
	<div >
		<title>View primary server</title> <br>
		<br>
		 </div>
		  <div ng-show="error" style="color: red"><h4>{{error}}</h4></div>
<fieldset ng-disabled="loading">
<div ng-show="table">
		<div style="display: block; float: center">
			<h4>
				Remove a domain from the Secondary Name Server
				<h4>
					<br>
					<h5>
					     To remove the record from the Telstra Secondary Name server, please click on the radio button below.</h5>

					
					<br>
					
	
		</div>


<div >

<table  class="SmallTable">
	
	<tr style="font-weight: bold">
		<th>Select</th>
		<th>Domain
</th>
	</tr>
	

	
	<tr ng-repeat="secondaryRecord in demos">
	<td><input type="radio"  name="myGroup" ng-click="addToList($event,secondaryRecord.dbrowId,secondaryRecord.Domain)" >
         </td>
		<td>{{secondaryRecord.Domain}}
		</td>
	</tr>
</table>
<br>

<div class="form-actions col-md-2"
						style="display: inline-block;  float: left">
						<button type="button" ng-show="checked" ng-click="sendToBackendForDeletion()" 
							class="btn btn-primary customSmallButton">Delete </button>
					</div>
					<div class="form-actions col-md-2"
						style="display: inline-block;  float: left">
						<button type="reset" ng-show="checked" ng-click="clearAll()"
							class="btn btn-primary customSmallButton">Clear</button>
					</div>
					</div>
					<br>
					<br>
					<br><br><br>
						<div
						style="display: block; width: 100%;height: 30%; float: right; color: transparent"></div>

<div
						style="display: block; width: 100%;height: 30%; float: right; color: transparent"></div>
						<div
						style="display: block; width: 100%;height: 30%; float: right; color: transparent"></div>
	
</div>
</fieldset>
 <div id="loader" class="ajax-loader" ng-show=loading>
    <img 
         
         src="img/ajax-loader.gif" />
  </div> 
</div>
</form>