<html>
<br><br>

<div ng-controller="SecondaryDnsAddController" ng-init="getServices()">
	
	<h4>
		Secondary Name Server Request
		<h4><br>
			
			<h5>If you would like Telstra to be a Secondary Name Server for
				your domain(s), please complete the form below with the corresponding
				details.</h5>
			<br>
			<title>Secondary Server Name Request</title>
			<form name="myForm" novalidate>
			
			<fieldset ng-disabled="loading">
				<div class="wholeform" style=""display:block">
				
				 <div>
                     

                           <label class="col-md-3"> Service ID<font color="red">*</font></label> <select
                                  name="recordType" class="form-control" ng-model="user.serviceId" 
                                  id="type" ng-required="true">
                                  <option value="" disabled selected>Choose your service ID</option>
                                  <option ng-repeat="service in services" value="{{service}}">{{service}}</option>

                           </select>
             </div>
					<div>
					<div class="col-md-3 ">	
		               	</div>
			  			<span style="color:red" class="error-message" ng-show="myForm.emailId.$dirty && myForm.emailId.$invalid">Error in Email Contact format. </span><br>
						<label class="col-md-3"> Email Contact<font color="red">*</font>
						</label> <input class="form-control" type="email" name="emailId"
							ng-model="user.contactEmailAddress" ng-model-options="{updateOn: 'blur'}"  ng-maxlength="80"  placeholder="Enter the email id"
							email-id ng-required="true"> 
							
 					</div>

				
					<div>
					<div class="col-md-3">	
			</div>
			<span style="color: red" class="error-message"
				ng-show="myForm.domain.$dirty && myForm.domain.$invalid">Error in Domain.</span><br>
						<label class="col-md-3"> Domain<font color="red">*</font>
						</label> <input class="form-control" type="text" name="domain"  ng-maxlength="80"
							ng-model="user.domain" ng-model-options="{updateOn: 'blur'}" placeholder="Enter the domain" required domain-andhost>
							
					</div>

					
					<div>
					<div class="col-md-3">	</div>
					<span style="color: red" class="error-message"
				ng-if="myForm.host.$dirty && myForm.host.$invalid">Please enter valid IP Address.</span> <br>
						<label class="col-md-3"> Primary Name Server IP Address<font
							color="red">*</font>
						</label> <input class="form-control" name="host" type="text"
							ng-model="user.primaryServerIpAddress" ng-model-options="{updateOn: 'blur'}"  placeholder="Enter the IP address"
							required ip-address />
							
			 					

					
					</div>

					
				</div>
				
				<br>
<div>
				<div class="form-actions col-md-3"
					style="display: inline-block;  float: left">
					<button type="submit" ng-disabled="myForm.$invalid" ng-click="submitSecondaryServerForm()" ng-hide=loading
						class="btn btn-primary customSmallButton">Submit</button>

				</div>
				
				
				<div class="form-actions col-md-3" style="display: inline-block; float: left">
					<button type="button" ng-click="reset()" ng-hide=loading class="btn btn-primary customSmallButton">Clear</button>

				</div>
	
				

</div>
</fieldset>
				 <div id="loader" class="ajax-loader" ng-show=loading>
    <img 
         
         src="img/ajax-loader.gif" />
  </div> 


			</form>
</div>
</html>
